.inst{
       background: url('https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png');
       background-repeat: no-repeat;
       text-indent: -9999px;
       background-position: -96px 0px;
       width: 176px;
       height: 52px;
       text-align: center;
       margin: 0 auto;
}